@{
    ViewData["Title"] = "服務條款與隱私權政策";
}
<div class="container my-5">
    <h2 class="text-center mb-4">服務條款與隱私權政策</h2>
    <div class="row">
        <div class="col-12">
            <div class="card border-light shadow-sm rounded">
                <div class="card-body">
                    <h3 class="my-4">使用者服務條款</h3>
                    <p class="text-muted">
                        本條款適用於所有連結至 RS委託網 之會員或訪客（以下合稱「使用者」或「您」）。透過持續使用 RS委託網 提供之服務，即表示您已知悉且同意本條款。若您不同意本條款之部分或全部內容，您應立即停止使用 RS委託網。若您有任何疑問，歡迎隨時直接聯繫我們。
                    </p>
                    <h4 class="mt-4 mb-3">本條款更新</h4>
                    <p class="text-muted">
                        RS委託網 有權隨時修改、調整本條款中的任何內容。一旦修改或調整，將以公告形式發佈通知。任何修改或調整將於公布之時起生效。如果您在修改公布後繼續使用服務，則表示您同意遵守本條款之更動。請定期查閱本條款，確保了解所有更動。如果您不同意更動，請停止使用 RS委託網 服務，並申請停止會員資格。
                    </p>
                    <h4 class="mt-4 mb-3">資料備份</h4>
                    <p class="text-muted">
                        使用者同意定期備份資料，以防資料遺失。RS委託網 不對任何內容遺失及由此產生的損失承擔責任。
                    </p>
                    <h4 class="mt-4 mb-3">資料運作</h4>
                    <p class="text-muted">
                        RS委託網 只是網路交流平台，所有內容由使用者上傳，本平台不對內容的真實性、完整性或立場負責。內容僅代表使用者意見，並不代表平台立場。請使用者自行判斷內容真實性，對於有疑問的內容，應尋求專業意見。本平台上傳的內容，包括文字、圖片等，不代表平台同意或支持該內容，內容提供者應對其內容負責。
                    </p>
                    <h4 class="mt-4 mb-3">資料內容</h4>
                    <p class="text-muted">
                        使用者在平台上的行為（如交易、合作）若無明確書面承諾，RS委託網 不承擔任何責任。平台可能會對內容進行下架、停權或刪除處理。若平台連結至其他網站，RS委託網 不對該網站內容或服務負責。
                    </p>
                    <h4 class="mt-4 mb-3">委託項目著作權</h4>
                    <p class="text-muted">
                        委託項目完成後，除非另有約定，著作權仍屬創作者。創作者可在社群網站或印製方式發表，但如果項目包含委託者原創設計，需事先徵得委託者同意。委託項目預設為不允許販售或製作作品集，若允許，請在委託說明內明示。委託人不得聲稱為委託者個人創作作品。
                    </p>
                    <h4 class="mt-4 mb-3">第三方連結</h4>
                    <p class="text-muted">
                        平台上可能含有連結至第三方網站。使用者在使用這些網站前，需自行了解其使用者條款及隱私權政策。
                    </p>
                    <h4 class="mt-4 mb-3">一般性條款</h4>
                    <p class="text-muted">
                        本條款及使用者與 RS委託網 之關係，均以中華民國法律為準據法。任何爭議應以台灣台北地方法院為第一審管轄法院。如條款部分規定因法律抵觸而無效，其餘條款仍有效。
                    </p>
                    <h3 class="mt-5 mb-3">隱私權政策</h3>
                    <p class="text-muted">
                        本政策描述我們如何蒐集、處理及利用您的個人資料，並提供如何管理及控制您的資料的方式。請在使用我們的網站、服務及交易前，仔細閱讀本政策。持續使用即表示您接受我們的政策並同意我們蒐集及處理您的資料。
                    </p>
                    <h4 class="mt-4 mb-3">資料蒐集之個人資料類別</h4>
                    <p class="text-muted">我們可能會蒐集以下個人資料：</p>
                    <ul class="text-muted">
                        <li>個人辨識資料（例如：姓名、住址、電子郵件、社群帳號）。</li>
                        <li>安全細節（例如：密碼）。</li>
                        <li>裝置資料（例如：IP 位址、Cookie、裝置地理位置）。</li>
                        <li>其他資料（例如：評價、備註、留言）。</li>
                        <li>交易紀錄（例如：交易對象、金額、付款方式）。</li>
                    </ul>
                    <p class="text-muted">經授權蒐集的資料僅用於提供服務。</p>
                    <p class="text-muted">
                        如您在平台上提供財務或寄件資料，我們將不會使用這些資料，但請注意，為避免資料外洩，建議使用 E-mail 提供敏感資料。
                    </p>
                    <p class="text-muted">
                        如舉辦抽獎或回饋活動，您提供的聯繫資料僅用於活動執行。
                    </p>
                    <h4 class="mt-4 mb-3">個人資料的修改與刪除</h4>
                    <p class="text-muted">
                        註冊會員後，您可以使用第三方登入方式修改或刪除資料。如無法登入，我們會透過 E-mail 驗證身分後協助移除資料，建議綁定多個 E-mail 以避免問題。
                    </p>
                    <h4 class="mt-4 mb-3">個人資料分享政策</h4>
                    <p class="text-muted">
                        除法律要求或為保護您及其他使用者外，未經同意，我們不會向第三方提供個人資料。若我們合併、收購或出售資產，將依交易條件移轉資料並通知您，移轉後第三方隱私政策將適用。
                    </p>
                    <h4 class="mt-4 mb-3">公眾瀏覽</h4>
                    <p class="text-muted">
                        使用本平台的公開功能時，您同意您的內容會被公眾閱覽。委託項目或內容將被公開，不特定第三人皆可閱覽。
                    </p>
                    <p class="text-muted mt-5">
                        如對以上條款有任何疑問，歡迎聯繫我們：
                        <a href="mailto:rumpelstiltskin0605@gmail.com">rumpelstiltskin0605@gmail.com</a>
                    </p>
                    <p class="text-muted">
                        公司名稱：三隻小貓股份有限公司
                        <br />
                        地址：高雄市三民區水源路259號2樓
                        <br />
                        電話：0985-900-849
                        <br />
                        統一編號：00000000
                    </p>
                    <p class="text-muted">
                        版權所有 © 2024 三隻小貓股份有限公司
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
